TURNSTILE_SECRET=
TURNSTILE_SITE_KEY=
ENV_TYPE=PRODUCTION
# Or "DEVELOPMENT" for testing
LOG_DIR=logs
# specify pathname in this manner (EXAMPLE) [PROJECT LOCATION]/temp/logs -> temp/logs
MAIN_LOG_FILE_NAME=/app.log
ERROR_LOG_FILE_NAME=/errors.log
DEVELOPMENT_LOG_FILE_NAME=/debug.log