.masked-text
  font-size: 8rem
  font-weight: bold
  color: #888
  background-image: url("../assets/images/thing.svg")
  background-size: 400%
  background-position: 0 30%
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  animation: animate-background 30s infinite linear

@keyframes animate-background
  0%
    background-position: 0 50%
  100%
    background-position: 100% 50%
