@font-face
  font-family: 'TerminessNerdFont'
  src: url("../assets/fonts/TerminessNerdFont-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'TerminessNerdFont'
  src: url("../assets/fonts/TerminessNerdFont-Italic.ttf") format("truetype")
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'TerminessNerdFont'
  src: url("../assets/fonts/TerminessNerdFont-Bold.ttf") format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'TerminessNerdFont'
  src: url("../assets/fonts/TerminessNerdFont-BoldItalic.ttf") format("truetype")
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'TerminessNerdFontMono'
  src: url("../assets/fonts/TerminessNerdFontMono-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'TerminessNerdFontMono'
  src: url("../assets/fonts/TerminessNerdFontMono-Italic.ttf") format("truetype")
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'TerminessNerdFontMono'
  src: url("../assets/fonts/TerminessNerdFontMono-Bold.ttf") format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'TerminessNerdFontMono'
  src: url("../assets/fonts/TerminessNerdFontMono-BoldItalic.ttf") format("truetype")
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'TerminessNerdFontPropo'
  src: url("../assets/fonts/TerminessNerdFontPropo-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'TerminessNerdFontPropo'
  src: url("../assets/fonts/TerminessNerdFontPropo-Italic.ttf") format("truetype")
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'TerminessNerdFontPropo'
  src: url("../assets/fonts/TerminessNerdFontPropo-Bold.ttf") format("truetype")
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'TerminessNerdFontPropo'
  src: url("../assets/fonts/TerminessNerdFontPropo-BoldItalic.ttf") format("truetype")
  font-weight: bold
  font-style: italic

@font-face
  font-family: 'TheFont'
  src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2") format('woff2')


