
.titlething
  font-family: 'TheFont', TerminessNerdFont, serif
  animation: letter-breathe 3s ease-in-out infinite

@keyframes letter-breathe
  from, to
    font-variation-settings: 'wght' 100

  50%
    font-variation-settings: 'wght' 900


#desciption
  font-size: 235%

#desciption2
  margin-top: -4%

#desciptiontitle
  margin-left: -20%

#descriptionfooter
  font-size: 0.5em

.navbarnew
  text-align: center
  margin-top: -2%


