@import 'fonts'
@import "title"
@import "scroll"
@import "fancy"

body
  font-family: Helvetica, serif
  color: white
  background: black
  margin: 0

.title
  font-size: 10em
  font-weight: bold
  display: flex
  flex-direction: column

.subtitle
  margin-top: -25%
  font-size: 1em

a
  color: white
  text-decoration: underline

.masked-text
  font-size: 8rem
  font-weight: bold
  color: #888
  background-image: url("../assets/thing.svg")
  background-size: 400%
  background-position: 0 50%
  background-clip: text
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  animation: animate-background 30s infinite linear

@keyframes animate-background
  0%
    background-position: 0 50%
  100%
    background-position: 100% 50%
